<script src="{{ 'getPosts.js' | asset_url }}" defer="defer" type="module"></script>
<h2>Last Instagram posts</h2>
<div id="inst_posts">

</div>

{% schema %}
{
  "name": "Last Instagram posts",
  "target": "section"
}
{% endschema %}
