<form id="change-product-name">
  <input type="text" name="product_name" placeholder="New product name"/>
  <input type="hidden" name="product_id" value="{{product.id}}">
  <button type="submit">Change!!</button>
</form>
<form id="change-product-name">
  <input type="text" name="product_name" placeholder="New product name"/>
  <input type="hidden" name="product_id" value="{{product.id}}">
  <button type="submit">Change!!</button>
</form>

<script src="{{ 'changeProductName.js' | asset_url }}" defer="defer" type="module"></script>

{% schema %}
{
  "name": "Change product input",
  "target": "section",
  "enabled_on": {
    "templates": ["product"]
  }
}
{% endschema %}

